
.founder-section {
  display: flex;
  align-items: center;
  padding: 80px 8%;
  background: linear-gradient(to right, #f9d3e5, #f7e3ef);
  border-radius: 0 0 80px 80px;
}

.founder-left {
  width: 50%;
}

.founder-title {
  font-size: 68px;
  font-weight: 700;
  color: #333;
  line-height: 1.1;
}

.founder-title span {
  color: #e91f63; /* Pink Highlight */
}

.founder-name {
  margin-top: 20px;
  font-size: 38px;
  font-weight: 600;
  color: #2b2b2b;
  letter-spacing: 0.5px;
}


.founder-text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.7;
  color: #444;
  max-width: 520px;
}

.founder-btn {
  margin-top: 35px;
  background: #2a2a8f;
  color: white;
  padding: 14px 32px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.founder-btn:hover {
  background: #1c1c6b;
}

.founder-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.founder-image {
  width: 85%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}
